* text=auto

*.c text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
*.cg text eol=lf
*.sh text eol=lf
Makefile text eol=lf
CMakeLists.txt text eol=lf

*.bat text eol=crlf

*.a binary
*.bmp binary
*.lmp binary
*.o binary
*.png binary
*.self binary
*.velf binary
*.vpk binary
*.wad binary
*.wav binary
*.zip binary
